*{/*Для всех элементов*/
	font-family: open-sans, sans-serif;/*Шрифт подключенные через гугл*/
	margin: 0;/*Внешний отступ*/
	padding: 0;/*Внутренний отступ*/
	box-sizing:border-box;
}
body{
	background-color: #efefef;/*Цвет фона*/
}
p{
	opacity: 0.9;/*Небольшая прозрачность*/
	text-align: justify;/*Выравнивание по ширине*/
}
a:hover{
	opacity: 0.8;/*Небольшая прозрачность при наведении на ссылки*/
}

/*1fcecb**********************************HEADER*/
#header{
	background-color: #282828;/*Задний фон*/
  	display: flex;/*Отображние в виде флексов*/
  	flex-wrap: wrap; /*перенос строки */
  	justify-content: space-between; /*прижимает содержимое к краям */
  	align-items: center; /*выравнивает элементы по центру на вертикальной */
	position: fixed;
	z-index: 1000;
	width: 100%;
}
#logo a{
	font-family:open-sans, sans-serif;
	color: white;/*Цвет ссылки*/
	font-size: 30pt;/*Размер шрифта*/
	text-decoration: none;/*Убрать нижнее подчеркивание*/
	}

#logo2 a{
	font-family: open-sans, sans-serif;
	font-size: 9pt;/*Размер шрифта*/
	color: white;
	text-decoration: none;
}
#adress {
	font-family: open-sans, sans-serif;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
}
#header{
  padding: 15px 30px;/*внутренние отступы, сверху и снизу 0, слева и справа 30пкс*/
}
#header{
	margin-bottom: 30px;
}
#menu ul{
	display: flex;
	list-style: none;/*убрать маркер*/
}
#header #menu ul li{
  margin: 20px 10px;
  font-size: 18px;
  font-family: open-sans, sans-serif;
}
#header #menu ul a{
  text-transform: uppercase;/*Заглавными буквами*/
  text-decoration: none;
  color: white;
}
/*******************************CONTENT*/
img{
	width: 100%;/*изображение на всю ширину*/
}
.uslugi_block{
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 3px #282828;/*тень*/
	min-height: 97%;/*минимальная высота*/
}
/*.news_a{
	color: black;
	text-decoration: none;
}*/

.uslugi_block:hover{
	box-shadow: 0 0 6px #282828;
}
/*.mini_news_block{
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 3px #3cbaff;
	min-height: 90%;
}*/
/*.mini_news_block:hover{
	box-shadow: 0 0 6px #3cbaff;
}*/
h2{
	margin: 50px 0 20px 10px;
	opacity: 0.9;
}
h3{
	opacity: 0.9;
}
.reviews_block{
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 3px #282828;
	min-height: 300px;
}
.reviews{
	color: white;
	text-decoration: none;}
.reviews_block:hover{
	box-shadow: 0 0 6px #282828;
}
.mini_reviews_block{
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 3px #282828;
	min-height: 300px;
}
.mini_reviews{
	color: black;
	text-decoration: none;
}
.mini_reviews_block:hover{
	box-shadow: 0 0 6px #282828;
}
.time{
	color: gray;
	opacity: 0.8;
	font-size: 11pt;
	margin: 2px 0;
}
.games{
	padding-left: 20px;
	opacity: 0.9;
}
.cons{
	margin-top: 50px;
	border: 2px solid #FCFCFC;
	border-radius: 10px 0;
}


/***************************CONTACTS*/
.forma{
	text-align: center;/*выраанивание текста по центру*/
}
.forma div{
	margin-bottom: 20px;
}
.forma input, textarea{
	border-radius: 5px;
	height: 30px;
}
#form1, #form2{
	width: 30%;
}
#form3{
	width: 50%;
	height: 100px;
}
.forma button{
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}
/****************************FOOTER*/
html {
  position: relative;
  min-height: 100%;
}
body {
	margin-bottom: 100px;
}
#footer{
	background-color: #2b2b2b;
	color: white;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: -100px;
	width: 100%;
	height: 150px;

}
#footer ul{
	padding: 10px 0;
}
#footer a{
	color: white;
	text-decoration: none;
}
#footer ul{
	list-style-type: none;
}
#footer img{
	width: 30px;
	margin-top: 2px;
	margin-right: 5px;
}
/******************************MEDIA*/
@media screen and (max-width: 768px) {/*стили для элементов, когда экран меньше 544 пкс*/
	#header {
	  	padding-left: 0;
	    flex-direction: column;/*отображение ввиде колонки*/
	}
	#logo a{
	  	text-align: center;
	}
	#header #menu ul {
	    flex-direction: column;
	    align-self: center;
	}
	#header #menu ul li {
	    margin: 5px;
	    font-size: 17pt;
	}
	iframe{
	  	height: 200px;
	}
	#form1, #form2{
		width: 90%;
	}
	#form3{
		width: 90%;
	}
	.forma button{
		width: 90%;
	}
	body{
		margin-bottom: 350px;
	}
	#footer {
		bottom: -100px;
		height: 350px;
	}
	#footer ul li{
		font-size: 16pt;
	}
	.text{
		top: 40px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1026px){
	body{
		margin-bottom: 110px;
	}
	#footer {
		bottom: 0;
		height: 110px;
	}
}
/***********SLIDER*/
/* Контейнер слайдер */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 130px;
}

/* Скрытие слайдера изначальное */
.mySlides {
    display: none;
}

/* Кнопки вперед и назад */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Позиционирование кнопки справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении на кнопку */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Стили текста */
.text {
	-moz-box-shadow:0 0 20px #555;
	-webkit-box-shadow:0 0 20px #555;
	box-shadow:0 0 20px #555;
	color:white;
	text-shadow:0 0 20px #282828;
	font-family: open-sans, sans-serif;
	position: absolute;
	bottom: 120px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	cursor: default;
}

/* Номер слайда */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Круглые кнопки */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Анимации */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.button {
      background-color:  #2b2b2b;
      border: none;
      color: #fffafa;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 17px;
      margin: 4px 2px;
      cursor: pointer;
	  font-weight: 500;
	  opacity: 0.8;
	  margin: 2px 0;
	box-shadow: 0 0 6px #282828;
	}
.button:hover{
	box-shadow: 0 0 6px blue;
}
.to_subscribe{
	color: blue;
}
.logout{
	color: dodgerblue;
	font-size: 17px;
}
.login.button,
.signin.button{
	text-align: right;
	margin: 5px 0;
	border-radius:10px;
}

.field {clear:both; text-align:right;}
.review_button {
	background-color:  #2b2b2b;
	border: none;
	color: #fffafa;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: 500;
	opacity: 0.8;
	margin: 2px 0;
	box-shadow: 0 0 6px #282828;
}
.review_button:hover{
	box-shadow: 0 0 6px blue;
}
